openapi: 3.1.0
info:
  title: Hotglue API V2 Connector Metadata Linked Connectors API
  description: The Hotglue API v2 enables programmatic management of embedded integrations including linked connectors, flow configurations, job execution, tenant management, and connector state for SaaS product integrations.
  version: '2.0'
  contact:
    name: Hotglue Support
    url: https://docs.hotglue.com
servers:
- url: https://api.hotglue.com
  description: Hotglue Production API
security:
- ApiKeyAuth: []
tags:
- name: Linked Connectors
  description: Create, retrieve, update, and delete linked connectors for a tenant.
paths:
  /v2/{env_id}/{flow_id}/{tenant}/linkedConnectors:
    parameters:
    - $ref: '#/components/parameters/EnvId'
    - $ref: '#/components/parameters/FlowId'
    - $ref: '#/components/parameters/Tenant'
    get:
      tags:
      - Linked Connectors
      summary: Retrieve linked connectors
      operationId: getLinkedConnectors
      parameters:
      - name: config
        in: query
        schema:
          type: boolean
        description: Request the underlying config for the linked source.
      - name: catalog
        in: query
        schema:
          type: boolean
        description: Request the catalog of available fields.
      - name: token
        in: query
        required: true
        schema:
          type: string
        description: JWT token from private signing key.
      responses:
        '200':
          description: Array of linked connector objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LinkedConnector'
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
      - Linked Connectors
      summary: Link a connector
      operationId: linkConnector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkConnectorRequest'
      responses:
        '200':
          $ref: '#/components/responses/EmptyOk'
        '400':
          $ref: '#/components/responses/BadRequest'
    patch:
      tags:
      - Linked Connectors
      summary: Update a linked connector
      operationId: updateLinkedConnector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLinkedConnectorRequest'
      responses:
        '200':
          $ref: '#/components/responses/EmptyOk'
        '400':
          $ref: '#/components/responses/BadRequest'
    delete:
      tags:
      - Linked Connectors
      summary: Unlink a connector
      operationId: unlinkConnector
      parameters:
      - name: connector_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/EmptyOk'
        '400':
          $ref: '#/components/responses/BadRequest'
components:
  responses:
    EmptyOk:
      description: Successful empty response.
      content:
        application/json:
          schema:
            type: object
    BadRequest:
      description: Bad request.
      content:
        application/json:
          schema:
            type: object
  parameters:
    FlowId:
      name: flow_id
      in: path
      required: true
      schema:
        type: string
      description: Flow identifier.
    EnvId:
      name: env_id
      in: path
      required: true
      schema:
        type: string
      description: Environment identifier.
    Tenant:
      name: tenant
      in: path
      required: true
      schema:
        type: string
      description: Tenant identifier.
  schemas:
    LinkedConnector:
      type: object
      properties:
        tap:
          type: string
        domain:
          type: string
        label:
          type: string
        tap_url:
          type: string
        auth_url:
          type: string
        icon:
          type: string
        type:
          type: string
        client_id:
          type: string
        fieldMap:
          type: object
    UpdateLinkedConnectorRequest:
      type: object
      required:
      - connector_id
      properties:
        connector_id:
          type: string
        field_map:
          type: object
        config:
          type: object
    LinkConnectorRequest:
      type: object
      required:
      - connector
      properties:
        connector:
          type: object
          required:
          - id
          properties:
            id:
              type: string
            config:
              type: object
            symlink:
              type: object
              properties:
                id:
                  type: string
                tenant:
                  type: string
                type:
                  type: string
        schedule:
          type: object
          properties:
            schedule_expression:
              type: string
            state:
              type: string
              enum:
              - ENABLED
              - DISABLED
        field_map:
          type: object
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
externalDocs:
  description: Hotglue API Reference v2
  url: https://docs.hotglue.com/api-reference/v2
