openapi: 3.1.0
info:
  title: Hotglue API V2 Connector Metadata Connector State API
  description: The Hotglue API v2 enables programmatic management of embedded integrations including linked connectors, flow configurations, job execution, tenant management, and connector state for SaaS product integrations.
  version: '2.0'
  contact:
    name: Hotglue Support
    url: https://docs.hotglue.com
servers:
- url: https://api.hotglue.com
  description: Hotglue Production API
security:
- ApiKeyAuth: []
tags:
- name: Connector State
  description: Manage bookmark and sync state for linked connectors.
paths:
  /v2/{env_id}/{flow_id}/{tenant}/linkedConnectors/state:
    parameters:
    - $ref: '#/components/parameters/EnvId'
    - $ref: '#/components/parameters/FlowId'
    - $ref: '#/components/parameters/Tenant'
    get:
      tags:
      - Connector State
      summary: Retrieve connector state
      operationId: getConnectorState
      parameters:
      - name: connector_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Connector state with bookmarks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorState'
        '400':
          $ref: '#/components/responses/BadRequest'
    put:
      tags:
      - Connector State
      summary: Set connector state
      operationId: setConnectorState
      parameters:
      - name: connector_id
        in: query
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: object
      responses:
        '200':
          $ref: '#/components/responses/EmptyOk'
        '400':
          $ref: '#/components/responses/BadRequest'
    delete:
      tags:
      - Connector State
      summary: Delete connector state
      operationId: deleteConnectorState
      parameters:
      - name: connector_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/EmptyOk'
        '400':
          $ref: '#/components/responses/BadRequest'
components:
  responses:
    EmptyOk:
      description: Successful empty response.
      content:
        application/json:
          schema:
            type: object
    BadRequest:
      description: Bad request.
      content:
        application/json:
          schema:
            type: object
  parameters:
    FlowId:
      name: flow_id
      in: path
      required: true
      schema:
        type: string
      description: Flow identifier.
    EnvId:
      name: env_id
      in: path
      required: true
      schema:
        type: string
      description: Environment identifier.
    Tenant:
      name: tenant
      in: path
      required: true
      schema:
        type: string
      description: Tenant identifier.
  schemas:
    ConnectorState:
      type: object
      properties:
        bookmarks:
          type: object
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
externalDocs:
  description: Hotglue API Reference v2
  url: https://docs.hotglue.com/api-reference/v2
